@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 210 40% 98%;
    --primary: 223 91% 52%;
    --primary-foreground: 0 0% 100%;

    --alternative: 223 100% 63%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 55%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 100%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    --radius: 2rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cta-bg {
  background: radial-gradient(60% 60% at center, transparent 0, #000 100%),
    radial-gradient(80% 80% at 50% 50%, #000 0, transparent 100%),
    url(/graphics/cta.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
