# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

**/artifacts
**/cache

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
lib-cov
*.lcov

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# IDEs
.idea
.vscode
.cursorignore

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build outputs
.cache
build/
dist/
out/
server-build/

# Remix
remix-routes.d.ts
vite.config.ts.*


# Hardhat
**/.hardhat*
**/addresses.txt
**/test-results/

# Turborepo
.turbo

# Specific directories
e2e/contracts/zk-gov-preprocessed/
packages/contracts/src/zk-gov-preprocessed/
