ALLOW_INDEXING=false
DATABASE_URL=postgresql://user:password@localhost:5432/webapp
WALLET_CONNECT_PROJECT_ID=:placeholder:
L1_RPC_URL=":placeholder:"
ETHERSCAN_API_KEY=":placeholder:"
ETH_NETWORK="mainnet"
NODE_OPTIONS="--no-deprecation"
LOG_LEVEL=info
ETH_NETWORK="local"
NODE_ENV=development
# Make this added by deploy script
UPGRADE_HANDLER_ADDRESS=0x8ce69a16be2d137ef7cd6d14c3842f44bb4eaf23
