name: CI

on:
  pull_request:
  push:
    branches: ["main", "dev"]
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build"
        required: true
        default: "main"
        type: choice
        options:
          - main
          - dev
      commit:
        description: "Commit SHA to build. If empty, the tip of the branch will be used."
        required: false

concurrency:
  group: ${{ format('{0}-{1}', github.workflow, github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref) }}
  cancel-in-progress: true

jobs:
  changed-files:
    runs-on: ubuntu-latest
    name: Get changed files
    outputs:
      all: ${{ steps.changed-files.outputs.all_any_changed }}
      webapp: ${{ steps.changed-files.outputs.webapp_any_changed }}
      cli: ${{ steps.changed-files.outputs.cli_any_changed }}
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          submodules: recursive
          ref: ${{ github.event_name == 'workflow_dispatch' && (github.event.inputs.commit || github.event.inputs.branch) || github.ref }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@c3a1bb2c992d77180ae65be6ae6c166cf40f857c # v45.0.3
        with:
          files_yaml: |
            all:
              - '**/*'
              - '!**/*.md'
              - '!**/*.MD'

            webapp:
              - 'apps/web/**/*'
              - 'packages/common/**/*'
              - 'packages/contracts/**/*'
              - 'packages/e2e/**/*'
              - '!packages/e2e/suits/cli/**/*'
              - '!**/*.md'
              - '!**/*.MD'

            cli:
              - 'apps/cli/**/*'
              - 'packages/common/**/*'
              - 'packages/e2e/**/*'
              - '!packages/e2e/suits/full/**/*'
              - '!**/*.md'
              - '!**/*.MD'

  ci-for-lint:
    name: Lint
    needs: [changed-files]
    if: ${{ needs.changed-files.outputs.all == 'true' }}
    uses: ./.github/workflows/lint-reusable.yml

  ci-for-test:
    name: Test
    needs: [changed-files, ci-for-lint]
    if: ${{ needs.changed-files.outputs.all == 'true' }}
    uses: ./.github/workflows/test-reusable.yml

  ci-for-test-e2e-cli:
    name: Test E2E cli
    needs: [changed-files, ci-for-lint, ci-for-test]
    if: ${{ needs.changed-files.outputs.cli == 'true' }}
    uses: ./.github/workflows/test-e2e-cli-reusable.yml
    secrets: inherit

  ci-for-test-e2e-web:
    name: Test E2E web
    needs: [changed-files, ci-for-lint, ci-for-test]
    if: ${{ needs.changed-files.outputs.webapp == 'true' }}
    uses: ./.github/workflows/test-e2e-web-reusable.yml
    secrets: inherit

  ci-for-docker:
    name: Docker
    needs:
      [
        changed-files,
        ci-for-lint,
        ci-for-test,
        ci-for-test-e2e-cli,
        ci-for-test-e2e-web,
      ]
    if: ${{ needs.changed-files.outputs.all == 'true' }}
    uses: ./.github/workflows/docker-reusable.yml
    permissions:
      contents: read
      packages: write
